.herosection{
    background-color: bisque;
    padding: 200px;
    text-align: center;

}

.h1{
    background-color: yellow;
    padding: 10px; 

}
.p{
    background-color: rgb(138, 138, 124);
    padding: 10px;  
}